.associates {
    width: 100%;
}

.associates h2 {
    padding-left: 5%;
}

.associates p {
    /* font-family: 'Kanit'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
   

    color: #000000;

    padding: 2%;
}

.section1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;

}


.section1 p {
    text-align: justify;
    padding: 0% 2% 0% 2%;
    /* font-family: 'Kanit'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-items: center;
 

    color: #000000;
}
.enquiry_mail_industry{
    width: 70%;
    background: #eccfb2;
    /* color: aliceblue; */

    align-items: center;
    border-radius: 7px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.imgsecion {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2.5rem;
}
@media only screen and (max-width:450px) {
    .imgsecion {
        display: flex;
        /* width: 90%; */
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;

    }
    .section1 {
        flex-direction: column;
    }
       
}
@media only screen and (max-width:821px) {
    .imgsecion {
        display: flex;
        /* width: 90%; */
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
        align-items: center;
margin-bottom: 1rem;
    }
    .section1 {
        flex-direction: column;
    }
}
@media only screen and (min-device-width:822px) and (max-device-width:1248px) {
    .imgsecion{
        display: grid;
        grid-template-columns: 35% 35%;
        margin-left: 3.2rem;
    }
}