/* ---------------------------- */
.Spring3d {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Spring3d-He h1 {
  font-size:1.6rem;
  margin-top: 6rem;
  color: white;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;

}

.what-about-line {
  background-color: #fff;
  height: 4px;
  width: 8rem
}

.video-line {
  background: #273246;
  height: 4px;
  width: 17rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.testimonial-bg {
  background-image: url(../../../public/images/Client/Group\ 44.png);
  background-repeat: no-repeat;
  height: 50rem;
  background-size: 100% 100%;
  z-index: 1;
  /* border: 2px solid black; */
}
.Testimonials-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.Spring3d {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.VideoTestimonials-Carousel03-Header h1{
  font-size: 2.1rem;
  font-weight: 600;
  
  text-align: center;
  
}
.VideoTestimonials-Carousel03-Header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.VideoTestimonials-Carousel03{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-3d-carousel{
  width: 100vw !important;
  height: 500px !important;
  

}

.fa .fa-arrow-right{
color: #000 !important;
}
.video-img1{
  max-width:607px;
  max-height: 558px;
}
.video-arrow{
  position: relative;
  right:50%;
  bottom: 50%;
  /* transform: translate(-0%,-50%); */
 
 
}
.react-3d-carousel .slider-container .slider-content .slider-single .slider-single-content {
  box-shadow: 0px 10px 40px rgba(0,0,0,0);
  transition: 500ms cubic-bezier(0, 0, 0, 0)
}
.react-3d-carousel .slider-container .slider-right div{
  border-bottom: transparent;
  border-top:transparent;
  border-right: transparent;
  border-left: transparent;
  position: relative;
  margin-left: -13rem;
    color: darkblue;
}
.react-3d-carousel .slider-container .slider-content .slider-single.proactive .slider-single-content {
  opacity: 0.9;
}
.react-3d-carousel .slider-container .slider-content .slider-single.preactive .slider-single-content {
  opacity: 1;
}
.react-3d-carousel .slider-container .slider-content .slider-single.active .slider-single-content {
  opacity: 1.5;
}
.react-3d-carousel .slider-container .slider-left div{
  border-bottom: transparent;
  border-top:transparent;
  border-right: transparent;
  border-left: transparent;
}
/* .Spring3d-He h1 {
font-size: 2.1rem;
margin-top: 2rem;
} */
.react-3d-carousel .slider-container .slider-left ,
.react-3d-carousel .slider-container .slider-right {
  position: absolute;
  display: none;
  z-index: 3;
  right: 101%;
  margin-right: 5px;
  padding: 0;
  height: max-content !important;
  cursor: pointer;
  top: 20%;
  
}


.VideoTestimonials-Carousel03 .react-3d-carousel .slider-container .slider-left ,
.VideoTestimonials-Carousel03 .react-3d-carousel .slider-container .slider-right{
  top: 50%;
}
.VideoTestimonials-Carousel03 .react-3d-carousel .slider-container .slider-left{
  left: 0;
}
.VideoTestimonials-Carousel03 .react-3d-carousel .slider-container .slider-right{
  left: auto !important;
  right: 0;
}
.VideoTestimonials-Carousel03 .react-player{
  width: 30%;
  height: auto;
}
@media only screen and (max-width: 1500px) {
  .testimonial-second-section{  
    background-color: #5B5756;
    padding: 2rem 7%;
  }
}
@media only screen and (max-width: 1300px) {
  .react-3d-carousel .slider-container .slider-left{
    left: 0;
  }
  .react-3d-carousel .slider-container .slider-right{
    right: 0;
    left: auto;
  }
}
@media only screen and (max-width: 768px) {
  .Testimonials-Carousel02 h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 70px;
  } 
  .Spring3d-He h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .react-3d-carousel .slider-container .slider-right {
    right: 0;
    left: auto;
    margin-left: 4rem;
    z-index: 100000 !important;
  }
  .VideoTestimonials-Carousel03
  .Testimonial3dCarousel
  .react-3d-carousel
  .slider-container
  .slider-content
  .slider-single
  .slider-single-content {
    width: 100%;
    height: 100%;
    box-shadow: none;
    opacity: 1 !important;
    height: max-content !important; 
  }
  .VideoTestimonials-Carousel03 .react-player {
    width: 400px !important;
    height: auto;
  }
  .VideoTestimonials-Carousel03-Header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
    margin: 2rem 0;
  }
  @media only screen and (max-width: 1500px) {
    .testimonial-second-section{  
      background-color: #5B5756;
      padding: 1rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .react-3d-carousel .slider-container .slider-left,
  .react-3d-carousel .slider-container .slider-right{
    display: none;
  }
  .Testimonials-Carousel02 h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1rem 0;
  } 
  .Spring3d-He h1 {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
  .VideoTestimonials-Carousel03 .react-player {
    width: 250px !important;
    height: auto;
  }
  .react-3d-carousel {
    width: 91% !important;
    height: 121vw !important;
    margin: auto;
    overflow-x: hidden;
    overflow-y: visible;
}
.VideoTestimonials-Carousel03-Header{
  width: 90%;
}
  .VideoTestimonials-Carousel03-Header h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0;
    margin: 1rem 0;
  }
  .testimonial-slider-holder{
    width: 100%;
    overflow: hidden;
  }
}