.minerals {
    width: 100%;
}

.minerals h2 {
    padding-left: 5%;
}

.minerals p {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
  

    color: #000000;

    padding: 2%;
}

.section1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

  

}
.gatewala_img{
    height: 25%;
    width: 25%;
    margin-left: 1rem;
    /* border: 3px solid yellow; */
    /* padding: 1rem; */
    border-radius: 15px;
    /* padding: 0rem; */
}



.section1 p {
    text-align: justify;
    padding: 2%;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
   

    color: #000000;

    background-image: url(../../../public/images/Home/logo_watermark.png);
    background-repeat: no-repeat;

    background-position: center;

    background-size: 40% 100%;
}

.imgsecion {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0rem 1rem 1rem 1rem  ;
}


.slider{
    height:250px;
    margin:auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
}
.slide_track{
    display: flex;
    width: calc(250px *18);
    animation: scroll 40s linear infinite;
}
.slide_track:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9))
    }
}
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    perspective: 100px;
    transition: transform 1s;
}
/* .slide:hover{
    transform: translateZ(20px);
} */
.sliding_img:hover{
    transform: translateZ(20px);
    border-radius: 15px;
}
.sliding_img{
    width: 100%;
    transition: transform 1s;
    border-radius: 15px;
}
.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotate(180deg);
}


@media screen and (min-width:201px) and (max-width:580px) {
    .gatewala_img{
        width: 85%;
        margin-left: 0rem;
        margin-top: 1rem ;
        margin-bottom: 1rem;
    }
    .minerals p {
        text-align: justify;
        padding: 1.3rem;
    }
    
}