.buildcon {
    width: 100%;
}

.buildcon h2 {
    padding-left: 5%;
}

.buildcon p {
    /* font-family: 'Kanit'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
 

    color: #000000;

    padding: 2%;
}

.section1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}



.section1 p {
    text-align: justify;
    padding: 2%;
    /* font-family: 'Kanit'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;


    color: #000000;
}

.imgsecion {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2.5rem;
}
@media only screen and (max-width:450px) {
    .imgsecion {
        display: flex;
        /* width: 90%; */
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;

    }
    .section1 {
        flex-direction: column;
    }
       
}
@media only screen and (max-width:821px) {
    .imgsecion {
        display: flex;
        /* width: 90%; */
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5rem;
        align-items: center;
        margin-bottom: 1rem;

    }
    .section1 {
        flex-direction: column;
    }
}
@media only screen and (min-device-width:822px) and (max-device-width:1248px) {
    .imgsecion{
        display: grid;
        grid-template-columns: 35% 35%;
        margin-left: 3.2rem;
    }
}