.new-header {
    /* font-family: 'Inter'; */
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #273246;
    /* font-family: 'Kanit', sans-serif; */
    /* border: 2px solid black; */
}
.crousel_img
{
    width: 80%;
    margin-bottom: 2rem;
}


.new-line {
    width: 9rem;
    height: 0.6rem;
    background: #273246;
}
/* ------------------------------------------- */
.new-carosel-text{
position:absolute;
font-size: 1.6rem;
font-weight: 600;
letter-spacing: 0em;
text-align: left;
color: #fff;
padding: 2rem;
left: 0;
/* font-family: 'Kanit', sans-serif; */

}
.carousel_img_div{
    position: relative;
}
.new-btn1
{
position:absolute;
background: #607B9C;
border: none;
height: 2.2rem;
border-radius: 5px;
width: 7rem;
left: 2rem;
top: 8rem;
color: white;
/* font-family: 'Kanit', sans-serif; */
}

.kNBmiK {
    overflow: hidden;
    margin: 0px 20px 15px 157px;
}


/* ======================Secong section =============================*/
.new-space {
    display: flex;
    justify-content:center;
    margin-top: 3rem;
    gap: 1rem;
}

.newimg{
    width: 18%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-start;
}
.new-img {
    width: 80%;
}
.new-p-content {
/* font-family: 'Volkhov'; */
font-size: 1.3rem;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
width: 60%;
/* font-family: 'Kanit', sans-serif; */
/* border: 2px solid black; */
}



.new-line {
    width: 9rem;
    height: 0.6rem;
    background: #273246;
}
/* ------------------------------------------- */


.kNBmiK {
    overflow: hidden;
    margin: 0px 20px 15px 157px;
}


/* ======================Secong section =============================*/
@media only  screen and (max-width:821px)
{
    .new-space{
        margin-bottom: 1rem;
    }
    .newimg{
        width: 30%;
    }
    .new-img {
        width: 90%;
        
    }
    .new-p-content{
        font-size: 1.1rem;
    }
}

@media only  screen and (max-width:450px)
{
    .new-space{
        flex-direction: column;
        align-items: center;
    }
    .newimg{
        width: 75%;
    }
    .new-p-content{
        width: 80%;
    }
}


